
<%= form_for Rating.new do |f| %>

  <div class="field">
    <%= f.label :anime %><br />
    <%= f.collection_select :anime_id, Anime.order(:name),:id,:name, required: true%>
  </div>

  <div class="field">
    <%= f.label :plot %><br />
    <%= f.number_field :plot, autofocus: true , min: 1, max: 5, required: true%>
  </div>

  <%= f.hidden_field :user_id, value:1%>

  <div class="field">
    <%= f.label :characters %><br />
    <%= f.number_field :character, min: 1, max: 5, required: true%>
  </div>

  <div class="field">
    <%= f.label :art %><br />
    <%= f.number_field :art, min: 1, max: 5, required: true%>
  </div>

  <div class="field">
    <%= f.label :overall %><br />
    <%= f.number_field :overall, min: 1, max: 5, required: true%>
  </div>

  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_field :review, maxlength: 300, required: true%>
  </div><br />


  <div class="actions">
    <%= f.submit "Create Review" %>
  </div>
<% end %>
